# Python Variables

In [1]:
x=1000
print(type(x))

<class 'int'>

In [2]:
x="sharath"
print(type(x))

<class 'str'>

In [3]:
x=2+5j
type(x)

complex

In [4]:
x=2.6789
type(x)

float

In [6]:
x=2.7890
type(x)

float

#  Python Data Types

# int,float,complex,str,bool,tuple,list,set,dict,bytes

In [ ]:
      mutable 
    list,set,dict
    immutable
    tuple,str,number
    
    
    number 1 boolen,2 integer,3-float,4-complex

In [8]:
dir(list)  # built in function

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

  #  Python Operators(7385622)

####  Arithmetic operators---7
#### Logical operators---3
#### Assignment operators-----8
#### relational operators----5
#### Bitwise operators---6
#### Identity operators----2
#### Membership operators----2

In [11]:
a=5
b=10
c=a*b
print(c)

50

In [13]:
# volume of cube a***3
a=2
v=a**3

print(v)

8

In [14]:
a=int(input("enter a number:"))
v=a**3
print(v)

enter a number:45
91125

# mutable 
    # list,set,dict

## list =List is a collection which is ordered and changeable. Allows duplicate members.

In [15]:
list=["kumar",56,2+5j,"sharath"]
print(list)

['kumar', 56, (2+5j), 'sharath']

In [16]:
df=["kumar",'sharath',"apple","tamil","top","laptop",453,678.95,2+7j]   # start:stop:step
df[:5:1]

['kumar', 'sharath', 'apple', 'tamil', 'top']

In [17]:
df[::4]

['kumar', 'top', (2+7j)]

In [18]:
df[::-1]

[(2+7j), 678.95, 453, 'laptop', 'top', 'tamil', 'apple', 'sharath', 'kumar']

In [19]:
df[:-2:1]

['kumar', 'sharath', 'apple', 'tamil', 'top', 'laptop', 453]

In [20]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [21]:
df

['kumar', 'sharath', 'apple', 'tamil', 'top', 'laptop', 453, 678.95, (2+7j)]

In [22]:
df.append("mango")

In [23]:
df

['kumar',
 'sharath',
 'apple',
 'tamil',
 'top',
 'laptop',
 453,
 678.95,
 (2+7j),
 'mango']

In [24]:
df.insert(4,"time")

In [25]:
df

['kumar',
 'sharath',
 'apple',
 'tamil',
 'time',
 'top',
 'laptop',
 453,
 678.95,
 (2+7j),
 'mango']

In [27]:
df.count

In [28]:
len(df)

11

In [29]:
df.count("mango")

1

In [31]:
df.sort()

TypeError: '<' not supported between instances of 'int' and 'str'